body {
	background-color:beige;
}

h1, h2 {
	color:black;
}

h1 {
	text-transform:uppercase;
	text-align:center;
	border:4px solid black;
	background-color:lightblue;
}

h2 {
	text-decoration:underline;
}

img {
	box-shadow:10px 10px 15px gray;
}

.general_content {
	color:green;
	margin-left:50px;
}

#biography {
	
}